comparator/ise/*.bin
comparator/ise/*.bit
comparator/ise/*log
comparator/ise/*.html
comparator/ise/*.xml
comparator/ise/*.xrpt
comparator/ise/eq1*
comparator/ise/eq2*
comparator/ise/_xmsgs/
comparator/ise/iseconfig/
comparator/ise/xlnx_auto_0_xdb/
comparator/ise/*gise
comparator/ise/xst/*
comparator/ise/_ngo/
comparator/ise/webtalk/
comparator/ise/usage*/
comparator/modelsim/
comparator/vunit_out/

