modelsim/work
modelsim/*.mti
modelsim/*.mpf
modelsim/vsim*
modelsim/vunit_results
modelsim/wlf*
modelsim/vish*
vunit_out/
ise/xst/
ise/xlnx*
ise/iseconfig/*
ise/_xmsgs/*
ise/*.bld
ise/*.bgn
ise/*.cmd*
ise/*.drc
ise/*.gise
ise/*.par
ise/*.pcf
ise/*.pad
ise/*.x*
ise/*.n*
ise/*.ptwx
ise/*.stx
ise/*.syr
ise/*.twr
ise/*.twx
ise/*.unroutes
ise/*.ut 
ise/*.lso
ise/*_*
ise/webtalk*
ise/_ngo/
ise/*.prj
ise/*.bit